riderModule.iml

# Visual Studio and resharper
bin/
obj/
packages/
_ReSharper.Caches/
DesignTimeBuild/
v17/
*.sqlite
project-colors.json
VSWorkspaceState.json

.idea/

*.pyc
.venv/
venv/
*.log

*local.yml
